@model IEnumerable<my_blog.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - my_blog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <h2>Posts</h2>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">
                            Some example text. Some example text.aaaasfhghjkhkklkoghtgthghhgygguguuuuuuugguguuguu
                            Discover the proposal software that modern sales teams use to create, send, track, and e-sign winning proposals, contracts, and agreements.
                            Your sales team is wasting too much time hunting down the right content. Reps are fumbling around with copy/paste, formatting,
                            and hacking together documents. Proposals are off-brand and inconsistent, but Sales can’t afford to wait for Marketing to design one for every deal.
                            And the approval process is either non-existent or creates deal-killing bottlenecks.
                        </p>
                        <a href="#" class="btn btn-primary">Read the full text</a>
                    </div>
                </div>
                <br />
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">
                            Some example text. Some example text.aaaasfhghjkhkklkoghtgthghhgygguguuuuuuugguguuguu
                            Discover the proposal software that modern sales teams use to create, send, track, and e-sign winning proposals, contracts, and agreements.
                            Your sales team is wasting too much time hunting down the right content. Reps are fumbling around with copy/paste, formatting,
                            and hacking together documents. Proposals are off-brand and inconsistent, but Sales can’t afford to wait for Marketing to design one for every deal.
                            And the approval process is either non-existent or creates deal-killing bottlenecks.
                        </p>
                        <a href="#" class="btn btn-primary">Read the full text</a>
                    </div>
                </div>
                <br />
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">
                            Some example text. Some example text.aaaasfhghjkhkklkoghtgthghhgygguguuuuuuugguguuguu
                            Discover the proposal software that modern sales teams use to create, send, track, and e-sign winning proposals, contracts, and agreements.
                            Your sales team is wasting too much time hunting down the right content. Reps are fumbling around with copy/paste, formatting,
                            and hacking together documents. Proposals are off-brand and inconsistent, but Sales can’t afford to wait for Marketing to design one for every deal.
                            And the approval process is either non-existent or creates deal-killing bottlenecks.
                        </p>
                        <a href="#" class="btn btn-primary">Read the full text</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">Tags</div>
        </div>
    </div>
</body>
</html>
